@page
@model Scripture_Pages.Pages.Scripture.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].chapter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].verse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].standardWork)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].datePosted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Scripture) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.book)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.chapter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.verse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.standardWork)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datePosted)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
